<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="LocalConfig" type="Imps.Services.CommonV4.DummyConfigHandler, IICCommonLibrary"/>
  </configSections>
  <appSettings>
    <add key="CenterUrl" value="http://192.168.110.170:8800/"/>
    <add key="QualityMontiorService.PostUrl" value="sipc://192.168.110.170:7803/"/>
    <add key="TextFilter.SpecialCharacters" value="!@#$%^* _~-"/>
  </appSettings>
  <LocalConfig>
    <WordsFilter>
      <ThirdParty>
        <Item WorkerName="SMSA-Nq01" AutoUnload="True" DllPath="D:\a\NqTfeKernel32.dll" DataFilePath="D:\a\res1" FilterTypeCode="Sms"/>
        <Item WorkerName="SMSA-Nq02" AutoUnload="True" DllPath="D:\a\NqTfeKernel32-2.dll" DataFilePath="D:\a\res1" FilterTypeCode="Sms"/>
      </ThirdParty>
    </WordsFilter>
    <Database>
      <Item Name="IICUPDB.1" DbType="SQLServer2005" ConnectionString="server=10.10.15.208\Global;database=IICUPDB;uid=sa;pwd=Password01!"/>
      <Item Name="IICHADB" DbType="SQLServer2005" ConnectionString="server=192.168.110.210\Global01;database=IICHADB;uid=sa;pwd=Password01!"/>
      <Item Name="TESTDB" DbType="Mysql" ConnectionString="server=10.10.15.209;database=test;uid=admin;pwd=admin"/>
      <Item Name="TESTBatchInsert" DbType="MysqlBatchInsert" ConnectionString="server=10.10.15.209;database=test;uid=admin;pwd=admin"/>
    </Database>
    <IICTracing Level="Info" AntiRepeat="True">
      <Appender>
        <Item Type="Text" Enabled="true" Path="D:\Log" />
        <Item Type="Console" Enabled="true" Path="D:\Log" />
        <Item Type="Database" Enabled="false" Path="server=10.10.15.208\Global;database=TRACEDB;uid=sa;pwd=Password01!" />
      </Appender>
    </IICTracing>
    <SipcStack>
      <module transactionTimeout="5" transactionCapacity="0" dialogCapacity="0" userAgentCapacity="64"/>
      <message maxHeaderLength="512" maxHeaderCount="64" maxMessageSize="65536" maxForwards="0" loopDetection="false"/>
      <dedicate-connection maxSendPending="40960" clientCapacity="204800" maxIdleTime="300"/>
      <multiplex-connection maxSendPending="20480" staticRoute="5" dynamicRoute="2" refreshTime="1800" frozenTime="720" queue-enabled="true" queue-capacity="100"/>
      <socket
				family="4"
				backlog="100"
				connectTimeout="3000"
				sendPending="10240"
				dedicate-recvBuffer="0"
				dedicate-sendBuffer="0"
				multiplex-recvBuffer="0"
				multiplex-sendBuffer="0"/>

      <socket-keepalive enable="true" timeout="150000" interval="1000"/>
      <remoting sendPending="1024"/>
      <buffer bufferSize="1460" tempStrCapacity="255"/>
      <io pool="true" preserve="40960">
        <Item type="Accept" pool="true" grow="true" preserve="8"/>
        <Item type="Connect" pool="true" grow="true" preserve="64"/>
        <Item type="Receive" pool="true" grow="true" preserve="64"/>
        <Item type="Send" pool="true" grow="true" preserve="64" ratio="512:20;1024:50;2048:12;4096:8;8192:3;16384:2;32768:2;65536:1"/>
      </io>
    </SipcStack>
    <ServiceSettings ServiceName="SSIP" PoolID="1" RemotingServerPort="6004" SipcServerPort="5060" RpcServerPort="7002" />
  </LocalConfig>
</configuration>