<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="LocalConfig" type="Imps.Services.CommonV4.DummyConfigHandler, IICCommonLibrary"/>
  </configSections>
  <appSettings>
    <add key="CenterUrl" value="http://192.168.110.170:8800/"/>
    <add key="QualityMontiorService.PostUrl" value="sipc://192.168.110.170:7803/"/>
    <add key="TextFilter.SpecialCharacters" value="!@#$%^* _~-"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <LocalConfig>
    <ServiceSetting ServiceName="SSIP" PoolID="1" Pools="0,1,2,3,4" RemotingServerPort="6004" SipcServerPort="5060" RpcServerPort="7002"/>
    <RpcOverTcp>
      <!-- Connections: 每个服务器地址建立连接的数量 Timeout: 事务超时毫秒数-->
      <Transaction SimplexConnections="3" Timeout="180000" />
      <!-- MaxConnections: 服务器端最大允许的连接数 BufferSize: 接受Buffer大小-->
      <Receive MaxConnections="10000" BufferSize="8192"/>
      <!-- MaxPending: 最大允许的缓冲发送包 MaxBatch: 最大包批量 BufferSize: 发送缓冲区大小 BufferCount: 发送缓冲区个数-->
      <Send MaxPending="8000" MaxBatch="8" BufferSize="8192" BufferCount="4000"/>
    </RpcOverTcp>
  </LocalConfig>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
