<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MaxWorkerLife" value="2.0:0:0"/>
    <add key="MaxStopTime" value="0:2:0"/>
    <add key="PingInterval" value="0:5:16"/>
    <add key="MaxPingInterval" value="0:10:0"/>
    <add key="VirtualMemory" value="100"/>
    <add key="RunType" value="service"/>
    <add key="ServiceName" value="SkypeUpdateEx"/>
    <add key="DisplayName" value="SkypeUpdateEx"/>
    <add key="Description" value="SkypeUpdateEx"/>
    <add key="HAWorker" value="HAWorker.exe"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
